.app-logo {
  width: 10%;
  height: auto;
  display: flex;
  padding-left: 1em;
}

img {
  width: 100%;
  height: auto;
}

.header {
  background: #000;
}

h1 {
  color: red;
  position: relative;
  top: 0;
  padding-left: 6em;
  padding-bottom: 0;
}
