@font-face {
  font-family: "BebasNeue";
  src: url("../fonts/BebasNeue.otf") format("otf");
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "BebasNeue", sans-serif;
  /* background-color: #000; */
}
