h1,
h3 {
  color: red;
  text-align: center;
}

img {
  width: 8em;
  height: 11em;
  display: inline-flex;
  /* justify-content: space-around; */
  margin-bottom: 13em;
  opacity: 2%;
}

.Movie-summary_title {
  color: red;
  font-size: 0.7em;
  padding-bottom: 1em;
  font-weight: bold;
}

.Movie-summary_year {
  color: red;
  font-size: 0.7em;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}
