.MovieSummaries_container {
  display: grid;
  grid-template-columns: repeat(3, 5fr);
  grid-auto-rows: 12rem;
  /* margin-left: 4em; */
  text-align: center;
}

@media (max-width: 320px) {
  .MovieSummaries_container {
    display: inline;
  }
}
