.MovieSummaries_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
}

.MovieSummaries_container {
  padding-top: 2em;
}

@media (max-width: 320px) {
  .MovieSummaries_container {
    display: inline;
  }
}
