h1,
h3 {
  color: blue;
  text-align: center;
}

img {
  width: 8em;
  height: 11em;
  display: inline-flex;
  justify-content: space-around;
}

img {
  margin-bottom: 4em;
}

.Movie-summary_title,
.Movie-summary_year {
  color: red;
}

* {
  box-sizing: border-box;
  background-color: white;
}
